{"serverSettings":
	{
		"websocketAddresses":{"address":"127.0.0.1","port":9988},
		
		"maxConnections":999999,
		
		"protocolMode":"BINARY",
		
		"useDebugMode":true,
		
		"remoteAdmin":{"isActive":true,"administrators":[{"loginName":"osadmin","password":"osadmin"}]},
		
		"mailer":{"isActive":false,"mailHost":"your.smtp.here","mailUser":"username","mailPass":"password","smtpPort":25,"workerThreads":1}
	}
}